@font-face {
    font-family: "Rubic One";
    src: url("fonts/Rubik One Regular 400.ttf") format("truetype");
}


body {
    margin: 0;
    padding: 0;
    font-family: "Rubic One";
    background-color: #2b2b2b;
    color: white;
    overflow-x: hidden;
    min-height: 100%;
}

.logo-cogni {
    color: #d7ef43; /* Green color */
}

.logo-assess {
    color: white; /* White color */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #d7ef43;
}

.navbar-logo img {
    margin-right: 10px;
    width: auto;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px; /* Increased letter spacing */
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding to align with your design */
    display: inline-block;
    border-radius: 8px; /* Optional: if you want rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
.nav-lnk {
    color: #fff; /* Green text color on hover for links */
}

/* Hover effect for individual links */
.nav-lnk:hover {
    color: #d7ef43; /* Green text color on hover for links */
}

/* Additional styles for navbar buttons */
.nav-btn {
    background-color: #d7ef43; /* Initial green background */
    font-weight: bold;
    color: black; /* Initial black text color */
    border: none; /* No border */
    padding: 5px 20px; /* Padding inside the button */
    margin-left: 10px; /* Spacing between the links */
    cursor: pointer; /* Indicates the link is clickable */
    text-decoration: none; /* Removes underline from the text */
    font-family: "Work Sans", sans-serif; /* Font family */
    border: 2px solid #ffff00;
    border-radius: 15px;
}

.nav-btn:hover {
    background-color: #2b2b2b; /* Dark background on hover */
    color: #d7ef43; /* Green text color on hover */
}

/******* ROLES section  *******/
.roles {
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 152px;
}

.roles h1 {
    font-size: 40px;
    font-weight: 800;
    color: #d7ef43;
    text-align: left;
}

.roles h1 span {
    color: white; /* White color */
}

.role-card {
    background: #3B3B3B;
    border-radius: 15px;
    color: #FFFFFF;
    display: inline-block;
    margin: 13px;
    padding: 20px;
    width: 18%;
    /* Adjust based on your layout */
    text-align: center; /* Center-aligns content */
}

.role-card button {
    display: block; /* Makes the button a block element */
    margin: 0 auto; /* Centers the button horizontally */
    /* Additional styles for the button if needed */
}

.r-text {
    text-align: center;
    margin: auto;
    width: 83%;
}

.role-icon img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    /* If icons are circular */
}


.role-title {
    font-family: "Work Sans", sans-serif;
    color: #d7ef43;

    letter-spacing: 1px; /* Increased letter spacing */
    font-size: 1.5em;
    /* Adjust as needed */
    margin-top: 15px;
}

.role-description {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px; /* Increased letter spacing */
    font-size: 1.2em;
    /* Adjust as needed */
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    color: #858584;
}

/* Additional styles for navbar buttons */
.role-btn {
    background-color: #d7ef43; /* Initial green background */
    font-weight: bold;
    color: black; /* Initial black text color */
    border: none; /* No border */
    padding: 5px 20px; /* Padding inside the button */
    margin-left: 10px; /* Spacing between the links */
    cursor: pointer; /* Indicates the link is clickable */
    text-decoration: none; /* Removes underline from the text */
    font-family: "Work Sans", sans-serif; /* Font family */
    border: 2px solid #ffff00;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */

}

.role-btn:hover {
    background-color: #3B3B3B; /* Dark background on hover */
    color: #d7ef43; /* Green text color on hover */
}

/********** Footer **********/
.footer {
    background-color: #333;
    color: white;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
}
#footer-brand img {
    margin-right: 10px;
    width: auto; /* Maintains aspect ratio */
}

#footer-brand {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #d7ef43;
}

#footer-links,
#footer-socials {
    display: flex;
    align-items: center;
}

.footer-link,
.social-link {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover,
.social-link:hover {
    color: #d7ef43;
}

.social-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
