@font-face {
    font-family: "Rubic One";
    src: url("fonts/Rubik One Regular 400.ttf") format("truetype");
}


body {
    margin: 0;
    padding: 0;
    font-family: "Rubic One";
    background-color: #1E1E1E;
    color: white;
    overflow-x: hidden;
    min-height: 100%;
}

.logo-cogni {
    color: #d7ef43; /* Green color */
}

.logo-assess {
    color: white; /* White color */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    padding: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #d7ef43;
}

.navbar-logo img {
    margin-right: 10px;
    width: auto;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px; /* Increased letter spacing */
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding to align with your design */
    display: inline-block;
    border-radius: 8px; /* Optional: if you want rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
.nav-lnk {
    color: #fff; /* Green text color on hover for links */
}

/* Hover effect for individual links */
.nav-lnk:hover {
    color: #d7ef43; /* Green text color on hover for links */
}

/* Additional styles for navbar buttons */
.nav-btn {
    background-color: #d7ef43; /* Initial green background */
    font-weight: bold;
    color: black; /* Initial black text color */
    border: none; /* No border */
    padding: 5px 20px; /* Padding inside the button */
    margin-left: 10px; /* Spacing between the links */
    cursor: pointer; /* Indicates the link is clickable */
    text-decoration: none; /* Removes underline from the text */
    font-family: "Work Sans", sans-serif; /* Font family */
    border: 2px solid #ffff00;
    border-radius: 15px;
}

.nav-btn:hover {
    background-color: #2b2b2b; /* Dark background on hover */
    color: #d7ef43; /* Green text color on hover */
}



/******** Top Points *******/

/******** Top Streaks *******/
.points {
    text-align: center;
    background-color: #1E1E1E;
    padding: 60px;
}

.points h1 {
    font-size: 48px;
    font-weight: 500;
    color: #d7ef43;
    text-align: left;
}

.points h1 span {
    color: white; /* White color */
}

.points p {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px; /* Increased letter spacing */
    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    text-align: left;
}

.point-card {
    background: #3b3b3b;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px; /* Increased letter spacing */
    font-weight: bold;
    border-radius: 15px;
    color: #ffffff;
    display: inline-block;
    margin: 13px;
    padding: 20px;
    width: 16%;
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    cursor: pointer;
}
.point-card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}
.s-text {
    text-align: left;
    margin: 37px;
}

.points-icon img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-top: 20px;
}

.points-title {
    font-weight: 600;
    color: white;
    line-height: 1.4;
    text-align: left;
    font-size: 1.5em;
    padding-top: 20px;
}

.point-description {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    margin-top: 10px;
    width: 100%;
    color: #858584;
    max-width: 600px;
}

.home {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;

    display: inline-block; /* Aligns like a button */
    background-color: #d7ef43;
    color: black;
    border: 2px solid #ffff00; /* Solid border */
    padding: 15px 35px; /* Padding for size */
    font-size: 18px; /* Font size */
    margin: 40px 20px; /* Margin for spacing */
    cursor: pointer; /* Cursor changes to pointer */
    border-radius: 15px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    text-align: center; /* Center the text */
    text-decoration: none; /* Removes underline from links */
}

.home:hover {
    background-color: #2b2b2b; /* Dark background on hover */
    color: #ffff00; /* Text color change on hover */
}


/********** Footer **********/
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
}
#footer-brand img {
    margin-right: 10px;
    width: auto; /* Maintains aspect ratio */
}

#footer-brand {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #d7ef43;
}

#footer-links,
#footer-socials {
    display: flex;
    align-items: center;
}

.footer-link,
.social-link {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover,
.social-link:hover {
    color: #d7ef43;
}

.social-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
